* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Kalam', cursive;
}

h4 {
  font-size: 1.3rem;
  letter-spacing: .2rem;
  font-weight: 200;
}

span {
  font-size: 1.25rem;
}

body {
  background-color: #A6D1E6;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100vh;
}

.container-header {
  font-weight: 400;
  margin: 1.5rem 0 2rem 0;
  color: #990000;
}

.container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.animal {
  border-radius: 50%;
  height: 18rem;
  width: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
}

.animal:not(last-child) {
  margin-left: 1.5rem;
}

.animal-1 {
  background-color: orange;
}

.animal-1_horse {
  color: #733C3C;
}

.animal-2 {
  background-color: #3EC70B;
}

.animal-2_sheep {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  position: absolute;
  left: 3rem;
}

.animal-3 {
  background-color: #FFAC8E;
}

.animal-3_catname {
  color: #420202;
}

.animal-4 {
  background-color: #440047;
}

.animal-4_pig {
  position: absolute;
  right: 2rem;
  top: -0.5rem;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.animal-4_pigname {
  color: #87d787;
}

.animal-5 {
  background-color: #FF9292;
}

.animal-6 {
  background-color: #FFEA11;
}

.animal-6_owl {
  color: #f95b5b;
}

.animal-7 {
  background-color: #357C3C;
}

.animal-7_duck {
  color: yellow;
}

.animal-8 {
  background-color: #EF5B0C;
}

.animal-8_bird {
  color: #fff;
}

.animal-9 {
  background-color: #06283D;
}

.animal-9_lion {
  color: #A0D995;
}

.animal-10 {
  background-color: #FAF0D7;
}

.animal-11 {
  background-color: #1F4690;
}

.animal-11_frog {
  color: #FFD9C0;
}

.animal-12 {
  background-color: #748DA6;
}

.animal-12_cow {
  color: #e7ba3f;
}

.animal-picture-1 {
  height: 80%;
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: contain;
     object-fit: contain;
}

.animal-name {
  position: absolute;
  top: 90%;
}

.animal-quote {
  -webkit-clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 80%, 95% 85%, 58% 85%, 38.59% 99.74%, 33.62% 85%, 5% 85%, 0% 80%, 0% 5%);
          clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 80%, 95% 85%, 58% 85%, 38.59% 99.74%, 33.62% 85%, 5% 85%, 0% 80%, 0% 5%);
  background-color: #fff;
  height: 3rem;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

@media only screen and (max-width: 915px) {
  .animal {
    margin-bottom: 1rem;
  }
  .container-1,
  .container-2,
  .container-3 {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 780px) {
  .container-1 {
    width: 60%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container-2 {
    width: 60%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container-3 {
    width: 60%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 649px) {
  .container-1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container-3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */